$color-white: #fff;
$color-black: #000;
$color-grey-1: #777;
$color-grey-2: #f4f4f4;
$color-primary: #e21238;
$color-secondary: #940a64;

$primary-font-family: "Barlow", sans-serif;

$hero-image: "../images/outdoor.jpg";