.composition {
	position: relative;

	&__image {
    width: 55%;
    display: block;
		border-radius: 0.5rem;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    overflow: hidden;
    position: absolute;
    transition: all 0.3s ease-out;
    z-index: 10;
    outline-offset: 1.3rem;

		&--p1 {
      left: 0;
      top: -2rem;
		}

    &--p2 {
      right: 0;
      top: 2rem;
		}

    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      cursor: pointer;
      outline: 1rem solid $color-primary;
      transform: scale(1.1) translateY(-2rem);
      box-shadow: 0 2rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
	}
}
