.composition {
	position: relative;

	&__image {
    width: 55%;
    display: block;
		border-radius: 0.5rem;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    overflow: hidden;
    position: absolute;

		&--p1 {
      left: 0;
      top: -2rem;
		}

    &--p2 {
      right: 0;
      top: 2rem;
		}

    &--p3 {
      left: 20%;
      top: 10rem;
    }
	}
}
