.about {
	margin-top: -15vh;
	padding: 23rem 0;
	background-color: $color-grey-2;

	.content {
		max-width: 114rem;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(56rem, 1fr));
		column-gap: 2rem;
	}
}
